otree-core==1.4.0b5
Django==1.8.8 # for heroku, needs to be explicitly in requirements file
git+git://github.com/Leeps-Lab/otree-redwood.git#egg=otree-redwood
txredisapi # enable Twisted for asgiredis Channel Layer
django-extensions==1.8.1 # IPython shell with otree shell_plus [--notebook]