:host {
    margin: 10px;
}

.payoff_labels {
    position: absolute;
    padding: 0;
    font-size: 9pt;
    font-weight: bold;
}

input[type=range] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 370px;
    padding: 0 5px;
    margin-top: 25px;
    margin-left: 15px;
    float: left;
}

#my-bimatrix-container {
    width: 430px;
    height: 420px;
}

#other-bimatrix-container {
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
    margin-left: 20px;
}

#my-bimatrix-container, #other-bimatrix-container {
    display: inline-block;
    border: solid 2px orange;
}

#my-heatmap {
    width: 360px;
    height: 360px;
    margin-right: 15px;
    float: right;
}

#other-heatmap {
    width: 240px;
    height: 240px;
    margin: auto;
}

#my-heatmap, #other-heatmap {
    position: relative;
    margin-top: 30px;
}

#my-canvas, #other-canvas {
    position: absolute;
    display: block;
}

#my-val {
    position: absolute;
    bottom: 0;
    left: -2%;
    width: 104%;
    border-top: 2px solid black;
}

#other-val {
    position: absolute;
    height: 104%;
    right: 0;
    top: -2%;
    border-left: 2px solid black;
}

.graph-container {
    margin: auto;
    margin-top: 40px;
    width: 630px;
    height: 300px;
}

#thermometer {
    float: left;
    border: 1px black solid;
    margin-top: 8px;
    width: 20px;
    height: 90%;
}

#graph {
    width: 600px;
    height: 100%;
    float: right;
}