{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    <otree-continuous-bimatrix
        row-labels='["Cooperate", "Defect"]'
        payoff-matrix=
        '[
            [
                "{{ Constants.p1_A_p2_A_amount }}",
                "{{ Constants.p2_A_p1_A_amount }}"
            ],
            [
                "{{ Constants.p1_A_p2_B_amount }}",
                "{{ Constants.p2_A_p1_B_amount }}"
            ],
            [
                "{{ Constants.p1_B_p2_A_amount }}",
                "{{ Constants.p2_B_p1_A_amount }}"
            ],
            [
                "{{ Constants.p1_B_p2_B_amount }}",
                "{{ Constants.p2_B_p1_B_amount }}"
            ]
        ]'
        payoff-index='{{ player.id_in_group|add:"-1" }}'
        opponent-heatmap="true"
        period-length='{{ Constants.period_length }}'>
    </otree-continuous-bimatrix>

    {% include 'continuous_bimatrix/Instructions.html' %}

{% endblock %}
