{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <link
    		rel="import"
    		href="{% static "webcomponents/app/continuous-bimatrix/continuous-bimatrix.html" %}">
{% endblock %}

{% block content %}
    <continuous-bimatrix
        payoff-matrix='{{ Constants.payoff_grid }}'
        period-length='{{ Constants.period_length }}'>
    </continuous-bimatrix>

    {% include 'continuous_bimatrix/Instructions.html' %}

{% endblock %}
