{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <script>
        var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <!--   <script src="//code.highcharts.com/highcharts.js"></script> -->
    <script src="//code.highcharts.com/stock/highstock.js"></script>

    <link
        rel="import"
        href="{% static "webcomponents/app/imperfect-monitoring/imperfect-monitoring.html" %}">
{% endblock %}

{% block content %}

    <imperfect-monitoring
        row-labels='["Cooperate", "Defect"]'
        payoff-matrix=
        '[
            [
                "{{ Constants.p1_A_p2_A_amount }}",
                "{{ Constants.p2_A_p1_A_amount }}"
            ],
            [
                "{{ Constants.p1_A_p2_B_amount }}",
                "{{ Constants.p2_A_p1_B_amount }}"
            ],
            [
                "{{ Constants.p1_B_p2_A_amount }}",
                "{{ Constants.p2_B_p1_A_amount }}"
            ],
            [
                "{{ Constants.p1_B_p2_B_amount }}",
                "{{ Constants.p2_B_p1_B_amount }}"
            ]
        ]'
        probability-matrix=
        '[
            [
                "{{ Constants.p1_A_p2_A_signal }}",
                "{{ Constants.p2_A_p1_A_signal }}"
            ],
            [
                "{{ Constants.p1_A_p2_B_signal }}",
                "{{ Constants.p2_A_p1_B_signal }}"
            ],
            [
                "{{ Constants.p1_B_p2_A_signal }}",
                "{{ Constants.p2_B_p1_A_signal }}"
            ],
            [
                "{{ Constants.p1_B_p2_B_signal }}",
                "{{ Constants.p2_B_p1_B_signal }}"
            ]
        ]'
        subperiod-length='{{ Constants.subperiod_length }}'
        num-subperiods='{{ Constants.num_subperiods }}'
        initial-decision='{{ initial_decision }}'>
        
    </imperfect-monitoring>

    {% include 'imperfect_monitoring/Instructions.html' %}

{% endblock %}
