{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <script>
        var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <!--   <script src="//code.highcharts.com/highcharts.js"></script> -->
    <script src="//code.highcharts.com/stock/highstock.js"></script>

    <link
        rel="import"
        href="{% static "webcomponents/app/imperfect-monitoring/imperfect-monitoring.html" %}">
{% endblock %}

{% block content %}

    <imperfect-monitoring
        row-labels='["Cooperate", "Defect"]'
        payoff-matrix=
        '[
            [
                "{{ payoff_matrix.0.0.0 }}",
                "{{ payoff_matrix.0.0.1 }}"
            ],
            [
                "{{ payoff_matrix.0.1.0 }}",
                "{{ payoff_matrix.0.1.1 }}"
            ],
            [
                "{{ payoff_matrix.1.0.0 }}",
                "{{ payoff_matrix.1.0.1 }}"
            ],
            [
                "{{ payoff_matrix.1.1.0 }}",
                "{{ payoff_matrix.1.1.1 }}"
            ]
        ]'
        probability-matrix=
        '[
            [
                "{{ probability_matrix.0.0.0 }}",
                "{{ probability_matrix.0.0.1 }}"
            ],
            [
                "{{ probability_matrix.0.1.0 }}",
                "{{ probability_matrix.0.1.1 }}"
            ],
            [
                "{{ probability_matrix.1.0.0 }}",
                "{{ probability_matrix.1.0.1 }}"
            ],
            [
                "{{ probability_matrix.1.1.0 }}",
                "{{ probability_matrix.1.1.1 }}"
            ]
        ]'
        subperiod-length='{{ session.config.subperiod_length }}'
        displayed_subperiods='{{ displayed_subperiods }}'
        initial-decision='{{ player.initial_decision }}'
        {% if session.config.display_average_a_graph %}
            display-average-a-graph
        {% endif %}
        {% if session.config.display_average_b_graph %}
            display-average-b-graph
        {% endif %}
        {% if session.config.display_average_ab_graph %}
            display-average-a-b-graph
        {% endif %}
        >
        
    </imperfect-monitoring>

{% endblock %}
