{% extends "global/FirebaseAppBase.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block styles %}

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block local_scripts %}
  <link
      rel="import"
      href="/static/webcomponents/smart/otree-subperiods/otree-subperiods.html">
  <link
      rel="import"
      href="/static/webcomponents/smart/otree-continuous-bimatrix/otree-continuous-bimatrix.html">
 {% endblock %}

{% block content %}

    <otree-subperiods
        period-length="{{ Constants.period_length }}"
        subperiods="{{ Constants.num_subperiods }}">
    </otree-subperiods>
    
    <otree-continuous-bimatrix
        payoff-matrix='{{ Constants.payoff_grid }}'
        period-length='{{ Constants.period_length }}'>
    </otree-continuous-bimatrix>
    
    {% include 'discrete_bimatrix/Instructions.html' %}

{% endblock %}
