#experiment-container {
    position: relative;
    width: 100%;
    height: 570px;
}

#payoff_graph {
    position: absolute;
    border: 1px black solid;
    top: 50px;
    width: 150px;
    height: 400px;
}

#strategy_graph {
    position: absolute;
    border: 1px black solid;
    top: 50px;
    left: 200px;
    width: 600px;
    height: 420px;
}

#myProgress {
    width: 100px;
    background-color: lightgrey;
    float: right;
}

#my-decision-container {
    position: relative;
    top: 500px;
    left: 300px;
    float: center;
}