#experimentContainer {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.graph-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    align-self: center;
}

#payoffGraph {
    border: 1px solid black;
    margin: 0 10px 0 0;
}

#strategyGraph {
    border: 1px solid black;
}

#myProgress {
    margin: 10px 0 10px 0;
    width: 200px;
    height: 30px;
    background: lightgrey;
    align-self: flex-end;
}

#myProgress[hidden] {
    display: inline-block !important;
    visibility: hidden;
}

#myDecisionContainer {
    margin: 10px 0 10px 0;
    align-self: center;
}