{% extends "global/Base.html" %}

{% block global_scripts %}

    <!-- everything from global/Base.html -->
		{{ block.super }}

    <script
    	src="/static/bower_components/webcomponentsjs/webcomponents-lite.min.js">
    </script>

    <link
        rel="import"
        href="/static/bower_components/polymerfire/firebase-app.html" />

    <!-- Initialize oTree variables and Firebase -->
    <firebase-app
        api-key="AIzaSyDhaihpJ2W7mR_bScBsc6brBQyFG2N8tJo"
        auth-domain="otree.firebaseapp.com"
        database-url="otree.firebaseio.com">
    </firebase-app>

    <script>
    	var oTree = oTree || {};
      (function() {
        oTree.session = "{{ session.code }}";
        oTree.subsession = parseInt("{{ subsession.id }}");
        oTree.subsession = isNaN(oTree.subsession) ? null : otree.subsession;
        oTree.round = parseInt("{{ player.round_number }}");
        oTree.round = isNaN(oTree.round) ? null : otree.round;
        oTree.group = parseInt("{{ player.group.id_in_subsession }}");
        oTree.group = isNaN(oTree.group) ? null : otree.group;
        oTree.role = "{{ player.role }}"
        oTree.participantCode = "{{ player.participant.code }}";
        oTree.appName = "{{ subsession.app_name }}";
        oTree.idInGroup = "{{ player.id_in_group }}";
      })();
    </script>

    <!-- your webcomponents and Javascript go here -->
    {% block local_scripts %}
    {% endblock %}

{% endblock %}